<link rel="stylesheet" href="./style.css" />
<script src="./addButtons.js" type="module"></script>
<div id="form-add">
  <form class="form-container">
    <span class="form-label">Adicionar</span>
    <input
      class="btn"
      id="btn-proj"
      type="button"
      name="projeto"
      value="Projeto"
    />
    <input
      class="btn"
      id="btn-rotin"
      type="button"
      name="rotina"
      value="Rotina"
    />
    <input
      id="btn-event"
      type="button"
      name="evento"
      class="btn"
      value="Evento"
    />
  </form>
</div>
