<link rel="stylesheet" href="./style.css" />
<link rel="stylesheet" href="../../variables.css" />
<script src="./modal.js" type="module"></script>
<div class="modal-container">
  <iframe
    src="../addButtons/index.html"
    frameborder="0"
    id="add-buttons-iframe"
    class="modal-content"
  ></iframe>
  <iframe
    src="../projectForm/index.html"
    frameborder="0"
    class="modal-content"
    id="add-project-form-iframe"
  ></iframe>
  <iframe
    src="../projectTasks/index.html"
    frameborder="0"
    class="modal-content"
    id="add-project-tasks-iframe"
  ></iframe>
</div>
